In [2]:
import pandas as pd

df = pd.read_csv("C:/Users/pc/Desktop/Programacion/Ticmas/Python/Ejercicios finales/population_by_country_2020.csv", sep = ",")

In [3]:
#Primeros 5 registros
df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1438207241,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1377233523,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,330610570,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,272931713,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,219992900,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [4]:
#Ultimos 5 registros
df.tail()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
230,Montserrat,4991,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3458,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1624,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1354,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [5]:
#Dimensiones
print(df.shape)

(235, 11)

In [6]:
#Totalidad de registros
df.count()

Country (or dependency)    235
Population (2020)          235
Yearly Change              235
Net Change                 235
Density (P/Km²)            235
Land Area (Km²)            235
Migrants (net)             201
Fert. Rate                 235
Med. Age                   235
Urban Pop %                235
World Share                235
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population (2020)        235 non-null    int64
 2   Yearly Change            235 non-null    object
 3   Net Change               235 non-null    int64
 4   Density (P/Km²)          235 non-null    int64
 5   Land Area (Km²)          235 non-null    int64
 6   Migrants (net)           201 non-null    float64
 7   Fert. Rate               235 non-null    object
 8   Med. Age                 235 non-null    object
 9   Urban Pop %              235 non-null    object
 10  World Share              235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.3+ KB

In [8]:
df.dtypes

Country (or dependency)     object
Population (2020)            int64
Yearly Change               object
Net Change                   int64
Density (P/Km²)              int64
Land Area (Km²)              int64
Migrants (net)             float64
Fert. Rate                  object
Med. Age                    object
Urban Pop %                 object
World Share                 object
dtype: object

In [9]:
#Verificar la estructura
type(df)

pandas.core.frame.DataFrame

In [10]:
#Listar los nombres de las columnas
print(df.columns)

Index(['Country (or dependency)', 'Population (2020)', 'Yearly Change',
       'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share'],
      dtype='object')

In [21]:
#Poblacion mayor a 100.000.000 habitantes
df[df['Population (2020)']>100000000]

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1438207241,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1377233523,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,330610570,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,272931713,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,219992900,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
5,Brazil,212253150,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
6,Nigeria,205052107,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
7,Bangladesh,164354176,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
8,Russia,145922010,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
9,Mexico,128655589,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
10,Japan,126552765,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
11,Ethiopia,114357494,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
12,Philippines,109280343,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
13,Egypt,101930276,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %

In [18]:
#Los 10 paises con mayor área en Km² 
df.nlargest(10, 'Land Area (Km²)')

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
8,Russia,145922010,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
0,China,1438207241,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,United States,330610570,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
38,Canada,37674770,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
5,Brazil,212253150,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
54,Australia,25439164,1.18 %,296686,3,7682300,158246.0,1.8,38,86 %,0.33 %
1,India,1377233523,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
31,Argentina,45111229,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
63,Kazakhstan,18730568,1.21 %,225280,7,2699700,-18000.0,2.8,31,58 %,0.24 %
32,Algeria,43685618,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %